{% extends "base.html" %}

{% block contenido %}

  <h1 style="text-align: center;">Lista de Posts - Con la coincidencia {{ request.GET.Buscar }} 😃</h1>
  <div class="posts-container">

    {% if post_list %}

      {% for post in post_list %}
        <div class="post">
          <h2><a href="{% url 'post_detail' post.id %}">{{ post.titulo }}</a></h2>
          <p>Autor: {{ post.autor }}</p>
          <p class="post-content">{{ post.contenido|truncatewords:50 }}</p>
          {% for e in post.etiquetas.all %}
            <a class='etiqueta' href={% url 'etiquetas' e.id %}>#{{e.desc}}</a>
          {% endfor %}
          <p>Fecha: {{ post.fecha }}</p>
          <button class="read-more-button">Leer más</button>
        </div>
      {% endfor %}
    {% else %}
        
        <h1> <br> No existe Posts con el termino de busqueda {{ request.GET.Buscar }} <br><br></h1>

    {% endif %}
  </div>
{% endblock %}